<div class="row">
    <!-- form start -->
    <form class="form-horizontal" id="thisForm">
        <input type="hidden" Name="Id" id="Id" value="{{.m.Id}}">
        <div class="form-group">
            <label class="col-sm-2 control-label">标记</label>
            <div class="col-sm-8">
                <input type="text" name="Label" id = "Label" class="form-control" placeholder="" value="{{.m.Label}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">库存数</label>
            <div class="col-sm-8">
                <input type="text" name="Catalogue" idn="Catalogue" class="form-control" placeholder="" value="{{.m.Catalogue}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">下级目录</label>
            <div class="col-sm-8">
                <input type="text" name="SubCatalogue" idn="SubCatalogue" class="form-control" placeholder="" value="{{.m.SubCatalogue}}">
            </div>
        </div>
        <div class="form-group" style="display:none;">
            <label class="col-sm-2 control-label">条形码</label>
            <div class="col-sm-8">
                <input type="text" name="BarCode" idn="BarCode" class="form-control" placeholder="" value="{{.m.BarCode}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">中文品名</label>
            <div class="col-sm-8">
                <input type="text" name="ChineseName" idn="ChineseName" class="form-control" placeholder="" value="{{.m.ChineseName}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">样品编号</label>
            <div class="col-sm-8">
                <input type="text" name="SampleNumber" idn="SampleNumber" class="form-control" placeholder="" value="{{.m.SampleNumber}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">详细描述</label>
            <div class="col-sm-8">
                <input type="text" name="Description" idn="Description" class="form-control" placeholder="" value="{{.m.Description}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">颜色花型</label>
            <div class="col-sm-8">
                <input type="text" name="ColorPattern" idn="ColorPattern" class="form-control" placeholder="" value="{{.m.ColorPattern}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">款号</label>
            <div class="col-sm-8">
                <input type="text" name="StyleNumber" idn="StyleNumber" class="form-control" placeholder="" value="{{.m.StyleNumber}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">规格</label>
            <div class="col-sm-8">
                <input type="text" name="Specification" idn="Specification" class="form-control" placeholder="" value="{{.m.Specification}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">坯布供应商</label>
            <div class="col-sm-8">
                <input type="text" name="GreigeSupplier" idn="GreigeSupplier" class="form-control" placeholder="" value="{{.m.GreigeSupplier}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">产品类别</label>
            <div class="col-sm-8">
                <input type="text" name="ProductCategory" idn="ProductCategory" class="form-control" placeholder="" value="{{.m.ProductCategory}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">供应商名称</label>
            <div class="col-sm-8">
                <input type="text" name="Supplier" idn="Supplier" class="form-control" placeholder="" value="{{.m.Supplier}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">单价单位</label>
            <div class="col-sm-8">
                <input type="text" name="UnitPrice" idn="UnitPrice" class="form-control" placeholder="" value="{{.m.UnitPrice}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">成份(中文)</label>
            <div class="col-sm-8">
                <input type="text" name="Element" idn="Element" class="form-control" placeholder="" value="{{.m.Element}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">克重</label>
            <div class="col-sm-8">
                <input type="text" name="Weight" idn="Weight" class="form-control" placeholder="" value="{{.m.Weight}}">
            </div>
        </div>
    </form>
</div>